header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    border-radius: 12px;
    margin-bottom: 20px;
}

aside:nth-of-type(1) {
    background-color: rgb(52, 236, 52);
    color: white;
    font-size: 30px;
    border-radius: 12px;
}

aside:nth-of-type(2) {
    background-color: pink;
    color: white;
    font-size: 30px;
    border-radius: 12px;
}

main {
    background-color: yellow;
    font-size: 30px;
    border-radius: 12px;
    height: 350px;
}

section {
    display: flex;
    gap: 20px;
}

footer {
    background-color: rgb(30, 176, 243);
    color: white;
    font-size: 30px;
    border-radius: 12px;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
}
@media screen and (max-width: 1024px) {
    section {
        flex-direction: column;
    }
}

.container {
    background-color: pink;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.child {
    background-color: hotpink;
    width: 150px;
    height: 150px;
    color: white;
    line-height: 150px;
    text-align: center;
    font-size: 20px;
    width: 25%;
}

@media screen  and (max-width:1024px){
    .container {
        flex-wrap: wrap;
    }
    .child {
        width: calc(50% - 10px);
        flex-grow: 1;
    }
}
@media screen  and (max-width:480px) {
    .container {
       flex-direction: column;
    }
    .child {
        width:100%;
    }
}